input, select, button /* é possível estilizar tags diferentes ao mesmo tempo, separando cada tag por vírgula */  {
    padding: 10px; /* padding cria um espaço dentro do elemento */
}

body {
    background-color: #cddbe7;
}

.container {
    background-color: #b4c3cf;
    width: 700px;
    padding: 50px;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.mensagem-usuario {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #d9d9d9;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.oculto {
    display: none;
}
button, input, select {
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

button:hover {
    cursor: pointer;
    background-color: #96aec2;
    color: white;
}
#titulo {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Poppins", sans-serif;
}

#resultado {
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
}

